@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: #f4f4f4; /* Gray 10 */

  @media (prefers-color-scheme: dark) {
    background-color: #161616; /* Gray 100 */
    color-scheme: dark;
  }
}
