@import 'tailwindcss';

/* Import Radix Colors */
@import "tailwindcss-radix-colors/dist/gray.css";
@import "tailwindcss-radix-colors/dist/iris.css";
@import "tailwindcss-radix-colors/dist/jade.css";
@import "tailwindcss-radix-colors/dist/bronze.css";
@import "tailwindcss-radix-colors/dist/sand.css";
@import "tailwindcss-radix-colors/dist/plum.css";
@import "tailwindcss-radix-colors/dist/sky.css";
@import "tailwindcss-radix-colors/dist/amber.css";
@import "tailwindcss-radix-colors/dist/violet.css";
@import "tailwindcss-radix-colors/dist/gold.css";
@import "tailwindcss-radix-colors/dist/ruby.css";

@plugin 'tailwindcss-animated';

@custom-variant dark (@media (prefers-color-scheme: dark));

@theme {
  --font-sans: system-ui,
  ui-sans-serif,
  Helvetica,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji';

  --background-image-mesh-1: radial-gradient(at 38.09371232391572% 75.94894293250225%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 87.64298548502956% 56.12564230145598%,
    hsla(237.0873786407767, 47.03196347031963%, 57.05882352941176%, 1) 0%,
    hsla(237.0873786407767, 47.03196347031963%, 57.05882352941176%, 0) 100%),
  radial-gradient(at 72.06897069668383% 63.311276687010555%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 81.2102160392158% 64.42739594441093%,
    hsla(237.0873786407767, 47.03196347031963%, 57.05882352941176%, 1) 0%,
    hsla(237.0873786407767, 47.03196347031963%, 57.05882352941176%, 0) 100%),
  radial-gradient(at 64.10959059252959% 25.590645869382534%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 94.35532923133914% 91.75981344385534%,
    hsla(237.0873786407767, 47.03196347031963%, 57.05882352941176%, 1) 0%,
    hsla(237.0873786407767, 47.03196347031963%, 57.05882352941176%, 0) 100%),
  radial-gradient(at 90.16886818825218% 46.52621527320178%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 10.820840797923337% 69.42339940461709%,
    hsla(237.0873786407767, 47.03196347031963%, 57.05882352941176%, 1) 0%,
    hsla(237.0873786407767, 47.03196347031963%, 57.05882352941176%, 0) 100%),
  radial-gradient(at 45.48988453579679% 41.60626472792395%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 75.1838021728739% 99.86099496852441%,
    hsla(237.0873786407767, 47.03196347031963%, 57.05882352941176%, 1) 0%,
    hsla(237.0873786407767, 47.03196347031963%, 57.05882352941176%, 0) 100%),
  radial-gradient(at 57.573358036164905% 88.79628473957601%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 37.455299153033785% 99.24907931210353%,
    hsla(237.0873786407767, 47.03196347031963%, 57.05882352941176%, 1) 0%,
    hsla(237.0873786407767, 47.03196347031963%, 57.05882352941176%, 0) 100%);
  --background-image-mesh-2: radial-gradient(at 75.32231768657405% 68.3402764247673%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 60.64622902278896% 91.72810628926216%,
    hsla(213.81818181818178, 56.70103092783506%, 38.03921568627451%, 1) 0%,
    hsla(213.81818181818178, 56.70103092783506%, 38.03921568627451%, 0) 100%),
  radial-gradient(at 91.41850420844962% 70.3446412055145%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 79.0129696997729% 89.04606700680966%,
    hsla(213.81818181818178, 56.70103092783506%, 38.03921568627451%, 1) 0%,
    hsla(213.81818181818178, 56.70103092783506%, 38.03921568627451%, 0) 100%),
  radial-gradient(at 47.35699151267336% 13.013090220502121%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 53.54155321471896% 35.341604026141546%,
    hsla(213.81818181818178, 56.70103092783506%, 38.03921568627451%, 1) 0%,
    hsla(213.81818181818178, 56.70103092783506%, 38.03921568627451%, 0) 100%),
  radial-gradient(at 65.52587941450471% 28.88415221946008%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 48.99856137881875% 0.5653927368150846%,
    hsla(213.81818181818178, 56.70103092783506%, 38.03921568627451%, 1) 0%,
    hsla(213.81818181818178, 56.70103092783506%, 38.03921568627451%, 0) 100%),
  radial-gradient(at 89.46228223543011% 90.74217863165839%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 1.2507029492190513% 76.20433472672165%,
    hsla(213.81818181818178, 56.70103092783506%, 38.03921568627451%, 1) 0%,
    hsla(213.81818181818178, 56.70103092783506%, 38.03921568627451%, 0) 100%);
  --background-image-mesh-3: radial-gradient(at 50.71340207870734% 50.66800978109476%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 14.56923729891626% 21.937683241427575%,
    hsla(214.28571428571428, 83.21678321678321%, 28.03921568627451%, 1) 0%,
    hsla(214.28571428571428, 83.21678321678321%, 28.03921568627451%, 0) 100%),
  radial-gradient(at 66.07130898848483% 94.13099787275401%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 1) 0%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 0) 100%),
  radial-gradient(at 35.711439355529315% 64.57533884075208%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 13.19994233876509% 27.518028084387993%,
    hsla(214.28571428571428, 83.21678321678321%, 28.03921568627451%, 1) 0%,
    hsla(214.28571428571428, 83.21678321678321%, 28.03921568627451%, 0) 100%),
  radial-gradient(at 5.545975563908168% 25.552229607919497%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 1) 0%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 0) 100%),
  radial-gradient(at 44.844537909583025% 34.87440810388473%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 17.050056826356318% 21.746666427367355%,
    hsla(214.28571428571428, 83.21678321678321%, 28.03921568627451%, 1) 0%,
    hsla(214.28571428571428, 83.21678321678321%, 28.03921568627451%, 0) 100%),
  radial-gradient(at 86.34467994816441% 95.10961664027153%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 1) 0%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 0) 100%),
  radial-gradient(at 43.40484849267765% 55.31635959273575%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%);
  --background-image-mesh-4: radial-gradient(at 81.67700802658386% 97.69283753597668%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 24.821295497611473% 91.44539820975059%,
    hsla(214.28571428571428, 83.21678321678321%, 28.03921568627451%, 1) 0%,
    hsla(214.28571428571428, 83.21678321678321%, 28.03921568627451%, 0) 100%),
  radial-gradient(at 99.43224300485612% 37.649165532845345%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 1) 0%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 0) 100%),
  radial-gradient(at 67.0426281484579% 36.15883846267376%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 1.643661507134997% 71.4085948162778%,
    hsla(214.28571428571428, 83.21678321678321%, 28.03921568627451%, 1) 0%,
    hsla(214.28571428571428, 83.21678321678321%, 28.03921568627451%, 0) 100%),
  radial-gradient(at 34.30942970448725% 45.10249235815969%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 1) 0%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 0) 100%),
  radial-gradient(at 98.71125110770235% 16.429089223866878%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 99.87121349707304% 28.59527647076725%,
    hsla(214.28571428571428, 83.21678321678321%, 28.03921568627451%, 1) 0%,
    hsla(214.28571428571428, 83.21678321678321%, 28.03921568627451%, 0) 100%),
  radial-gradient(at 72.07078841662326% 4.713487445043274%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 1) 0%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 0) 100%),
  radial-gradient(at 47.98936637808531% 25.68877993855425%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 58.0452320804419% 16.426822302099666%,
    hsla(214.28571428571428, 83.21678321678321%, 28.03921568627451%, 1) 0%,
    hsla(214.28571428571428, 83.21678321678321%, 28.03921568627451%, 0) 100%);
  --background-image-mesh-5: radial-gradient(at 13.771418922853073% 81.30433583295181%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 40.617717093090214% 32.5799737687875%,
    hsla(351.0857142857143, 83.73205741626795%, 59.01960784313726%, 1) 0%,
    hsla(351.0857142857143, 83.73205741626795%, 59.01960784313726%, 0) 100%),
  radial-gradient(at 71.2205936827639% 77.31520715172337%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 1) 0%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 0) 100%),
  radial-gradient(at 48.82826453103581% 94.22051190076739%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 29.942751617974462% 15.585128796080872%,
    hsla(351.0857142857143, 83.73205741626795%, 59.01960784313726%, 1) 0%,
    hsla(351.0857142857143, 83.73205741626795%, 59.01960784313726%, 0) 100%),
  radial-gradient(at 80.79122003037367% 18.50673595051282%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 1) 0%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 0) 100%),
  radial-gradient(at 91.9396088260991% 10.754513025518841%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 77.60141285303013% 75.51029141510193%,
    hsla(351.0857142857143, 83.73205741626795%, 59.01960784313726%, 1) 0%,
    hsla(351.0857142857143, 83.73205741626795%, 59.01960784313726%, 0) 100%);
  --background-image-mesh-6: radial-gradient(at 6.601539726569938% 26.637198369810243%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 52.241972108180065% 41.017511153548945%,
    hsla(351.0857142857143, 83.73205741626795%, 59.01960784313726%, 1) 0%,
    hsla(351.0857142857143, 83.73205741626795%, 59.01960784313726%, 0) 100%),
  radial-gradient(at 25.90980792396922% 80.77846250254208%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 1) 0%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 0) 100%),
  radial-gradient(at 26.50011456564192% 21.757681712078526%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 89.0049331759774% 62.14997847718844%,
    hsla(351.0857142857143, 83.73205741626795%, 59.01960784313726%, 1) 0%,
    hsla(351.0857142857143, 83.73205741626795%, 59.01960784313726%, 0) 100%),
  radial-gradient(at 55.012385289344% 66.96990169876132%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 1) 0%,
    hsla(178.94736842105263, 51.818181818181806%, 43.13725490196079%, 0) 100%),
  radial-gradient(at 6.0882807452929955% 60.28196694579449%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 20.712085836340744% 9.563189733027366%,
    hsla(351.0857142857143, 83.73205741626795%, 59.01960784313726%, 1) 0%,
    hsla(351.0857142857143, 83.73205741626795%, 59.01960784313726%, 0) 100%);
  --background-image-mesh-7: radial-gradient(at 70.20266100994704% 61.50492276109338%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 0.9940497973483398% 53.849039505631694%,
    hsla(307.89473684210526, 77.02702702702703%, 29.01960784313725%, 1) 0%,
    hsla(307.89473684210526, 77.02702702702703%, 29.01960784313725%, 0) 100%),
  radial-gradient(at 75.80274645734848% 29.889229264600026%,
    hsla(293.04347826086956, 100%, 72.94117647058823%, 1) 0%,
    hsla(293.04347826086956, 100%, 72.94117647058823%, 0) 100%),
  radial-gradient(at 5.63386384567488% 50.199916457227985%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 19.482893699762215% 94.12437449138773%,
    hsla(307.89473684210526, 77.02702702702703%, 29.01960784313725%, 1) 0%,
    hsla(307.89473684210526, 77.02702702702703%, 29.01960784313725%, 0) 100%);
  --background-image-mesh-8: radial-gradient(at 41.222728207865345% 54.024587077510475%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 33.38671795981312% 82.51860682335376%,
    hsla(103.63636363636364, 72.26277372262774%, 26.862745098039216%, 1) 0%,
    hsla(103.63636363636364, 72.26277372262774%, 26.862745098039216%, 0) 100%),
  radial-gradient(at 82.59344285052106% 94.08449361346005%,
    hsla(172.16216216216216, 99.10714285714286%, 43.92156862745098%, 1) 0%,
    hsla(172.16216216216216, 99.10714285714286%, 43.92156862745098%, 0) 100%),
  radial-gradient(at 3.0615075134394543% 9.032328859210725%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 9.050221742971743% 98.62596099056383%,
    hsla(103.63636363636364, 72.26277372262774%, 26.862745098039216%, 1) 0%,
    hsla(103.63636363636364, 72.26277372262774%, 26.862745098039216%, 0) 100%);
  --background-image-mesh-9: radial-gradient(at 94.48213205269103% 78.67845128346475%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 6.570061150214657% 89.36519212259648%,
    hsla(327.8787878787879, 72.26277372262774%, 26.862745098039216%, 1) 0%,
    hsla(327.8787878787879, 72.26277372262774%, 26.862745098039216%, 0) 100%),
  radial-gradient(at 94.09267323610311% 70.91739594869149%,
    hsla(0, 99.10714285714286%, 43.92156862745098%, 1) 0%,
    hsla(0, 99.10714285714286%, 43.92156862745098%, 0) 100%),
  radial-gradient(at 16.928010109156745% 54.26545524901849%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 82.77605636689978% 5.615498580047951%,
    hsla(327.8787878787879, 72.26277372262774%, 26.862745098039216%, 1) 0%,
    hsla(327.8787878787879, 72.26277372262774%, 26.862745098039216%, 0) 100%),
  radial-gradient(at 73.21779744727668% 89.18395487971522%,
    hsla(0, 99.10714285714286%, 43.92156862745098%, 1) 0%,
    hsla(0, 99.10714285714286%, 43.92156862745098%, 0) 100%),
  radial-gradient(at 48.83855580380634% 49.32320956135756%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 71.83231972814525% 59.12551457918778%,
    hsla(327.8787878787879, 72.26277372262774%, 26.862745098039216%, 1) 0%,
    hsla(327.8787878787879, 72.26277372262774%, 26.862745098039216%, 0) 100%),
  radial-gradient(at 61.700251169155564% 29.235150316456316%,
    hsla(0, 99.10714285714286%, 43.92156862745098%, 1) 0%,
    hsla(0, 99.10714285714286%, 43.92156862745098%, 0) 100%);
  --background-image-mesh-10: radial-gradient(at 97.0188352911773% 26.533235387915035%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 29.84079849185164% 86.60180943523787%,
    hsla(28.94117647058824, 100%, 50%, 1) 0%,
    hsla(28.94117647058824, 100%, 50%, 0) 100%),
  radial-gradient(at 97.78792165426704% 19.229034474296135%,
    hsla(0, 100%, 50%, 1) 0%,
    hsla(0, 100%, 50%, 0) 100%),
  radial-gradient(at 84.02084645314376% 9.456930185651169%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 67.58511887775158% 9.77212656347264%,
    hsla(28.94117647058824, 100%, 50%, 1) 0%,
    hsla(28.94117647058824, 100%, 50%, 0) 100%),
  radial-gradient(at 11.392549489917592% 38.269887743768535%,
    hsla(0, 100%, 50%, 1) 0%,
    hsla(0, 100%, 50%, 0) 100%),
  radial-gradient(at 9.304553909548318% 41.21399995559407%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 65.60357812761117% 22.05901600227922%,
    hsla(28.94117647058824, 100%, 50%, 1) 0%,
    hsla(28.94117647058824, 100%, 50%, 0) 100%),
  radial-gradient(at 1.8190755016280757% 89.47296361289152%,
    hsla(0, 100%, 50%, 1) 0%,
    hsla(0, 100%, 50%, 0) 100%);
  --background-image-mesh-11: radial-gradient(at 95.62682670221906% 58.7836124799475%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 53.10242280789792% 2.396367328981852%,
    hsla(60.94117647058823, 100%, 50%, 1) 0%,
    hsla(60.94117647058823, 100%, 50%, 0) 100%),
  radial-gradient(at 48.216967930658726% 60.26605355617074%,
    hsla(0, 100%, 50%, 1) 0%,
    hsla(0, 100%, 50%, 0) 100%),
  radial-gradient(at 79.02328132047441% 18.371264280653076%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 45.39836088762426% 68.81201802810483%,
    hsla(60.94117647058823, 100%, 50%, 1) 0%,
    hsla(60.94117647058823, 100%, 50%, 0) 100%),
  radial-gradient(at 4.934135740464107% 80.2936438433773%,
    hsla(0, 100%, 50%, 1) 0%,
    hsla(0, 100%, 50%, 0) 100%),
  radial-gradient(at 43.90568989635173% 35.37924444918892%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 70.78379976209865% 79.93105632787176%,
    hsla(60.94117647058823, 100%, 50%, 1) 0%,
    hsla(60.94117647058823, 100%, 50%, 0) 100%),
  radial-gradient(at 14.196034381285493% 80.56389680321918%,
    hsla(0, 100%, 50%, 1) 0%,
    hsla(0, 100%, 50%, 0) 100%),
  radial-gradient(at 7.663058866862427% 91.49004796053941%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 73.9096575607635% 48.887452829610666%,
    hsla(60.94117647058823, 100%, 50%, 1) 0%,
    hsla(60.94117647058823, 100%, 50%, 0) 100%);
  --background-image-mesh-12: radial-gradient(at 97.18208782387667% 87.10808661786615%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 3.909486817232888% 95.61424471837829%,
    hsla(60.94117647058823, 100%, 50%, 1) 0%,
    hsla(60.94117647058823, 100%, 50%, 0) 100%),
  radial-gradient(at 26.757502114802744% 20.689614705084793%,
    hsla(0, 100%, 50%, 1) 0%,
    hsla(0, 100%, 50%, 0) 100%),
  radial-gradient(at 92.65138515618891% 68.98235280529974%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 85.41609564469998% 90.77932015292953%,
    hsla(60.94117647058823, 100%, 50%, 1) 0%,
    hsla(60.94117647058823, 100%, 50%, 0) 100%),
  radial-gradient(at 48.839628573984875% 69.00842421191786%,
    hsla(0, 100%, 50%, 1) 0%,
    hsla(0, 100%, 50%, 0) 100%);
  --background-image-mesh-13: radial-gradient(at 95.42190941878728% 56.303351714152704%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 31.598866786972057% 22.69204672534506%,
    hsla(60.94117647058823, 100%, 50%, 1) 0%,
    hsla(60.94117647058823, 100%, 50%, 0) 100%),
  radial-gradient(at 29.758827117925655% 50.57390479010604%,
    hsla(0, 100%, 50%, 1) 0%,
    hsla(0, 100%, 50%, 0) 100%);
  --background-image-mesh-14: radial-gradient(at 61.68654099628772% 47.434332499684075%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 39.75725479499162% 38.95798258930918%,
    hsla(60.94117647058823, 100%, 50%, 1) 0%,
    hsla(60.94117647058823, 100%, 50%, 0) 100%),
  radial-gradient(at 54.62169648272213% 92.38449728555227%,
    hsla(0, 100%, 50%, 1) 0%,
    hsla(0, 100%, 50%, 0) 100%),
  radial-gradient(at 64.54383198122693% 26.787549276009905%,
    hsla(14.08695652173913, 99.13793103448276%, 54.50980392156863%, 1) 0%,
    hsla(14.08695652173913, 99.13793103448276%, 54.50980392156863%, 0) 100%),
  radial-gradient(at 23.968830115266606% 97.33198437663859%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 44.674000463992634% 78.4462988464463%,
    hsla(60.94117647058823, 100%, 50%, 1) 0%,
    hsla(60.94117647058823, 100%, 50%, 0) 100%);
  --background-image-mesh-15: radial-gradient(at 29.309082321312108% 46.74758539274188%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 94.94620397630709% 78.4668462737026%,
    hsla(60.94117647058823, 100%, 50%, 1) 0%,
    hsla(60.94117647058823, 100%, 50%, 0) 100%),
  radial-gradient(at 90.44585475181141% 16.572746825385188%,
    hsla(0, 100%, 50%, 1) 0%,
    hsla(0, 100%, 50%, 0) 100%),
  radial-gradient(at 77.75387406969607% 4.585283831321374%,
    hsla(14.08695652173913, 99.13793103448276%, 54.50980392156863%, 1) 0%,
    hsla(14.08695652173913, 99.13793103448276%, 54.50980392156863%, 0) 100%),
  radial-gradient(at 20.69669342995393% 93.90342631908655%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 91.27217038615589% 75.26704147202143%,
    hsla(60.94117647058823, 100%, 50%, 1) 0%,
    hsla(60.94117647058823, 100%, 50%, 0) 100%),
  radial-gradient(at 37.49670484010619% 26.26524240803112%,
    hsla(0, 100%, 50%, 1) 0%,
    hsla(0, 100%, 50%, 0) 100%),
  radial-gradient(at 47.180036941752036% 73.62161422582076%,
    hsla(14.08695652173913, 99.13793103448276%, 54.50980392156863%, 1) 0%,
    hsla(14.08695652173913, 99.13793103448276%, 54.50980392156863%, 0) 100%),
  radial-gradient(at 67.35473760359545% 91.07740613926052%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 76.93837019936876% 6.880884376801033%,
    hsla(60.94117647058823, 100%, 50%, 1) 0%,
    hsla(60.94117647058823, 100%, 50%, 0) 100%);
  --background-image-mesh-16: radial-gradient(at 72.0534774971218% 99.50499465921254%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 47.16782533138315% 42.42248929765316%,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 100%, 0) 100%),
  radial-gradient(at 80.61177852769323% 70.68739286521757%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 1) 0%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 0) 100%),
  radial-gradient(at 97.98354474326254% 18.538395583982314%,
    hsla(12, 9.803921568627452%, 10%, 1) 0%,
    hsla(12, 9.803921568627452%, 10%, 0) 100%),
  radial-gradient(at 37.19217917587916% 99.36392658590138%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 1.9171098285408306% 58.41137676156074%,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 100%, 0) 100%),
  radial-gradient(at 73.67563574309573% 1.2685219774250633%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 1) 0%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 0) 100%),
  radial-gradient(at 39.47197855696294% 87.27982870487101%,
    hsla(12, 9.803921568627452%, 10%, 1) 0%,
    hsla(12, 9.803921568627452%, 10%, 0) 100%),
  radial-gradient(at 2.6173715703902145% 51.95925604758402%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 38.51918225817772% 10.863300794318809%,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 100%, 0) 100%);
  --background-image-mesh-17: radial-gradient(at 6.732825003509824% 26.50540537162529%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 94.34606226164959% 35.76311722613894%,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 100%, 0) 100%),
  radial-gradient(at 28.105232283689553% 21.53763373905475%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 1) 0%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 0) 100%),
  radial-gradient(at 13.986291334352408% 9.660657481911738%,
    hsla(12, 9.803921568627452%, 10%, 1) 0%,
    hsla(12, 9.803921568627452%, 10%, 0) 100%),
  radial-gradient(at 3.449862894488054% 8.034065270081946%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 84.66262181839603% 45.68615342607958%,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 100%, 0) 100%),
  radial-gradient(at 89.0853793967518% 66.82920428037171%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 1) 0%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 0) 100%),
  radial-gradient(at 82.54431102998316% 80.78527242927309%,
    hsla(12, 9.803921568627452%, 10%, 1) 0%,
    hsla(12, 9.803921568627452%, 10%, 0) 100%);
  --background-image-mesh-18: radial-gradient(at 90.29580116640699% 47.53562591981692%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 66.24825609760173% 98.69854188858127%,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 100%, 0) 100%),
  radial-gradient(at 27.560705239296546% 65.08747705068807%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 1) 0%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 0) 100%),
  radial-gradient(at 21.86944147037955% 2.9368602805326383%,
    hsla(12, 9.803921568627452%, 10%, 1) 0%,
    hsla(12, 9.803921568627452%, 10%, 0) 100%),
  radial-gradient(at 55.28594702545704% 11.895929328754784%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 45.520824619653546% 90.01988992239558%,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 100%, 0) 100%),
  radial-gradient(at 87.58410391838815% 54.85794222860658%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 1) 0%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 0) 100%),
  radial-gradient(at 39.662339214798095% 25.354305582302118%,
    hsla(12, 9.803921568627452%, 10%, 1) 0%,
    hsla(12, 9.803921568627452%, 10%, 0) 100%),
  radial-gradient(at 15.847592370464847% 13.461908569061286%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 79.99190916213634% 73.43052354312749%,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 100%, 0) 100%),
  radial-gradient(at 31.67625458373433% 72.62176107784961%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 1) 0%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 0) 100%);
  --background-image-mesh-19: radial-gradient(at 27.340561194695457% 66.79671972694187%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 18.139641804670337% 59.597517044342794%,
    hsla(0, 0%, 47.05882352941176%, 1) 0%,
    hsla(0, 0%, 47.05882352941176%, 0) 100%),
  radial-gradient(at 26.776855263692624% 32.56071811764802%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 1) 0%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 0) 100%),
  radial-gradient(at 86.01130051331442% 35.87910850986462%,
    hsla(9.999999999999975, 7.142857142857134%, 67.05882352941177%, 1) 0%,
    hsla(9.999999999999975, 7.142857142857134%, 67.05882352941177%, 0) 100%),
  radial-gradient(at 9.053710970250627% 26.983979787622836%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 57.566277738889916% 5.9444250041924995%,
    hsla(0, 0%, 47.05882352941176%, 1) 0%,
    hsla(0, 0%, 47.05882352941176%, 0) 100%),
  radial-gradient(at 65.91051543050807% 33.856455744459346%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 1) 0%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 0) 100%),
  radial-gradient(at 30.31971858235851% 85.73504269401002%,
    hsla(9.999999999999975, 7.142857142857134%, 67.05882352941177%, 1) 0%,
    hsla(9.999999999999975, 7.142857142857134%, 67.05882352941177%, 0) 100%),
  radial-gradient(at 30.599379880489398% 87.34705409854224%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 92.94867542399167% 83.33003636265244%,
    hsla(0, 0%, 47.05882352941176%, 1) 0%,
    hsla(0, 0%, 47.05882352941176%, 0) 100%),
  radial-gradient(at 64.97531938947063% 0.7402433221601612%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 1) 0%,
    hsla(0, 54.83870967741935%, 6.078431372549019%, 0) 100%);
  --background-image-mesh-20: radial-gradient(at 63.8482155594198% 13.594961289138707%,
    hsla(258.2142857142857, 78.87323943661971%, 72.15686274509804%, 1) 0%,
    hsla(258.2142857142857, 78.87323943661971%, 72.15686274509804%, 0) 100%),
  radial-gradient(at 38.48914473912115% 30.421353692312092%,
    hsla(348.75, 78.87323943661971%, 72.15686274509804%, 1) 0%,
    hsla(348.75, 78.87323943661971%, 72.15686274509804%, 0) 100%),
  radial-gradient(at 49.63915508444081% 30.54800998595386%,
    hsla(168.2142857142857, 78.87323943661971%, 72.15686274509804%, 1) 0%,
    hsla(168.2142857142857, 78.87323943661971%, 72.15686274509804%, 0) 100%),
  radial-gradient(at 63.8223452864491% 46.92596460456071%,
    hsla(78.75, 78.87323943661971%, 72.15686274509804%, 1) 0%,
    hsla(78.75, 78.87323943661971%, 72.15686274509804%, 0) 100%),
  radial-gradient(at 23.89226145865948% 25.007355242459006%,
    hsla(258.2142857142857, 78.87323943661971%, 72.15686274509804%, 1) 0%,
    hsla(258.2142857142857, 78.87323943661971%, 72.15686274509804%, 0) 100%),
  radial-gradient(at 95.81992167982574% 91.41341676675098%,
    hsla(348.75, 78.87323943661971%, 72.15686274509804%, 1) 0%,
    hsla(348.75, 78.87323943661971%, 72.15686274509804%, 0) 100%),
  radial-gradient(at 44.27917349413517% 41.56502007502289%,
    hsla(168.2142857142857, 78.87323943661971%, 72.15686274509804%, 1) 0%,
    hsla(168.2142857142857, 78.87323943661971%, 72.15686274509804%, 0) 100%),
  radial-gradient(at 60.680741828629124% 1.1554604232399068%,
    hsla(78.75, 78.87323943661971%, 72.15686274509804%, 1) 0%,
    hsla(78.75, 78.87323943661971%, 72.15686274509804%, 0) 100%),
  radial-gradient(at 95.3303484170837% 86.79382003902975%,
    hsla(258.2142857142857, 78.87323943661971%, 72.15686274509804%, 1) 0%,
    hsla(258.2142857142857, 78.87323943661971%, 72.15686274509804%, 0) 100%);
  --background-image-mesh-21: radial-gradient(at 23.43709206586453% 7.376467086322358%,
    hsla(319.25925925925924, 91.01123595505618%, 65.09803921568627%, 1) 0%,
    hsla(319.25925925925924, 91.01123595505618%, 65.09803921568627%, 0) 100%),
  radial-gradient(at 34.54645313872653% 60.47691584293054%,
    hsla(33.942857142857136, 100%, 65.68627450980392%, 1) 0%,
    hsla(33.942857142857136, 100%, 65.68627450980392%, 0) 100%),
  radial-gradient(at 20.00136007358151% 57.65355483599619%,
    hsla(345.4054054054054, 100%, 70.98039215686275%, 1) 0%,
    hsla(345.4054054054054, 100%, 70.98039215686275%, 0) 100%),
  radial-gradient(at 63.38201212965529% 10.610422170726231%,
    hsla(201.41176470588235, 100%, 50%, 1) 0%,
    hsla(201.41176470588235, 100%, 50%, 0) 100%),
  radial-gradient(at 38.02340477786208% 36.65179203501783%,
    hsla(139.62962962962965, 91.01123595505618%, 65.09803921568627%, 1) 0%,
    hsla(139.62962962962965, 91.01123595505618%, 65.09803921568627%, 0) 100%);
  --background-image-mesh-22: radial-gradient(at 25.721146822436047% 7.717341677475176%,
    hsla(240, 78.24267782426779%, 46.86274509803921%, 1) 0%,
    hsla(240, 78.24267782426779%, 46.86274509803921%, 0) 100%),
  radial-gradient(at 47.942373032711515% 56.245783580964705%,
    hsla(265.07936507936506, 79.07949790794979%, 46.86274509803921%, 1) 0%,
    hsla(265.07936507936506, 79.07949790794979%, 46.86274509803921%, 0) 100%),
  radial-gradient(at 54.970255237278856% 94.0161162553609%,
    hsla(268.586387434555, 79.9163179916318%, 46.86274509803921%, 1) 0%,
    hsla(268.586387434555, 79.9163179916318%, 46.86274509803921%, 0) 100%),
  radial-gradient(at 82.44933474465135% 85.8021750640136%,
    hsla(240, 78.24267782426779%, 46.86274509803921%, 1) 0%,
    hsla(240, 78.24267782426779%, 46.86274509803921%, 0) 100%),
  radial-gradient(at 72.02220561258517% 16.874139647924057%,
    hsla(265.07936507936506, 79.07949790794979%, 46.86274509803921%, 1) 0%,
    hsla(265.07936507936506, 79.07949790794979%, 46.86274509803921%, 0) 100%),
  radial-gradient(at 25.367893865049652% 70.66296388650719%,
    hsla(268.586387434555, 79.9163179916318%, 46.86274509803921%, 1) 0%,
    hsla(268.586387434555, 79.9163179916318%, 46.86274509803921%, 0) 100%),
  radial-gradient(at 69.26758853351633% 32.75815912634306%,
    hsla(240, 78.24267782426779%, 46.86274509803921%, 1) 0%,
    hsla(240, 78.24267782426779%, 46.86274509803921%, 0) 100%),
  radial-gradient(at 80.88672179000334% 51.9117623693399%,
    hsla(265.07936507936506, 79.07949790794979%, 46.86274509803921%, 1) 0%,
    hsla(265.07936507936506, 79.07949790794979%, 46.86274509803921%, 0) 100%),
  radial-gradient(at 7.32912427172645% 6.326662073756628%,
    hsla(268.586387434555, 79.9163179916318%, 46.86274509803921%, 1) 0%,
    hsla(268.586387434555, 79.9163179916318%, 46.86274509803921%, 0) 100%),
  radial-gradient(at 91.84101729963108% 12.112161080290718%,
    hsla(240, 78.24267782426779%, 46.86274509803921%, 1) 0%,
    hsla(240, 78.24267782426779%, 46.86274509803921%, 0) 100%);
  --background-image-mesh-23: radial-gradient(at 58.42368627386541% 93.60423595887713%,
    hsla(94.46808510638297, 79.66101694915254%, 53.72549019607843%, 1) 0%,
    hsla(94.46808510638297, 79.66101694915254%, 53.72549019607843%, 0) 100%),
  radial-gradient(at 36.61376841129575% 7.123611032030319%,
    hsla(201.88235294117646, 100%, 50%, 1) 0%,
    hsla(201.88235294117646, 100%, 50%, 0) 100%),
  radial-gradient(at 8.832640331610865% 97.63026573006132%,
    hsla(5.1063829787234045, 79.66101694915254%, 53.72549019607843%, 1) 0%,
    hsla(5.1063829787234045, 79.66101694915254%, 53.72549019607843%, 0) 100%),
  radial-gradient(at 14.851633403010368% 40.83698837877407%,
    hsla(94.46808510638297, 79.66101694915254%, 53.72549019607843%, 1) 0%,
    hsla(94.46808510638297, 79.66101694915254%, 53.72549019607843%, 0) 100%),
  radial-gradient(at 39.78997362731689% 62.24229116068691%,
    hsla(201.88235294117646, 100%, 50%, 1) 0%,
    hsla(201.88235294117646, 100%, 50%, 0) 100%),
  radial-gradient(at 2.268019067423155% 62.48158377591992%,
    hsla(5.1063829787234045, 79.66101694915254%, 53.72549019607843%, 1) 0%,
    hsla(5.1063829787234045, 79.66101694915254%, 53.72549019607843%, 0) 100%),
  radial-gradient(at 63.644986549298245% 0.005162812741899003%,
    hsla(94.46808510638297, 79.66101694915254%, 53.72549019607843%, 1) 0%,
    hsla(94.46808510638297, 79.66101694915254%, 53.72549019607843%, 0) 100%),
  radial-gradient(at 45.33919574278369% 34.74091633844234%,
    hsla(201.88235294117646, 100%, 50%, 1) 0%,
    hsla(201.88235294117646, 100%, 50%, 0) 100%);
  --background-image-mesh-24: radial-gradient(at 84.01199694727256% 30.056893041552478%,
    hsla(181.3043478260869, 88.46153846153847%, 79.6078431372549%, 1) 0%,
    hsla(181.3043478260869, 88.46153846153847%, 79.6078431372549%, 0) 100%),
  radial-gradient(at 89.30476600894973% 27.63850179509404%,
    hsla(331.304347826087, 88.46153846153847%, 79.6078431372549%, 1) 0%,
    hsla(331.304347826087, 88.46153846153847%, 79.6078431372549%, 0) 100%),
  radial-gradient(at 31.881644709974168% 87.64166680050936%,
    hsla(31.30434782608696, 88.46153846153847%, 79.6078431372549%, 1) 0%,
    hsla(31.30434782608696, 88.46153846153847%, 79.6078431372549%, 0) 100%),
  radial-gradient(at 71.6319392010369% 99.0591694322612%,
    hsla(181.3043478260869, 88.46153846153847%, 79.6078431372549%, 1) 0%,
    hsla(181.3043478260869, 88.46153846153847%, 79.6078431372549%, 0) 100%),
  radial-gradient(at 6.308844406155112% 83.88184747646237%,
    hsla(331.304347826087, 88.46153846153847%, 79.6078431372549%, 1) 0%,
    hsla(331.304347826087, 88.46153846153847%, 79.6078431372549%, 0) 100%),
  radial-gradient(at 24.675534220444728% 65.82159405748833%,
    hsla(31.30434782608696, 88.46153846153847%, 79.6078431372549%, 1) 0%,
    hsla(31.30434782608696, 88.46153846153847%, 79.6078431372549%, 0) 100%),
  radial-gradient(at 41.672240062004185% 16.52950545412708%,
    hsla(181.3043478260869, 88.46153846153847%, 79.6078431372549%, 1) 0%,
    hsla(181.3043478260869, 88.46153846153847%, 79.6078431372549%, 0) 100%),
  radial-gradient(at 35.576198618200564% 61.73792928982997%,
    hsla(331.304347826087, 88.46153846153847%, 79.6078431372549%, 1) 0%,
    hsla(331.304347826087, 88.46153846153847%, 79.6078431372549%, 0) 100%),
  radial-gradient(at 13.433204641119033% 62.349277577441995%,
    hsla(31.30434782608696, 88.46153846153847%, 79.6078431372549%, 1) 0%,
    hsla(31.30434782608696, 88.46153846153847%, 79.6078431372549%, 0) 100%),
  radial-gradient(at 49.25667773691789% 30.251684481494756%,
    hsla(181.3043478260869, 88.46153846153847%, 79.6078431372549%, 1) 0%,
    hsla(181.3043478260869, 88.46153846153847%, 79.6078431372549%, 0) 100%);
  --background-image-mesh-25: radial-gradient(at 7.476843645991416% 49.445889029641954%,
    hsla(170.52631578947367, 95.53072625698326%, 35.09803921568627%, 1) 0%,
    hsla(170.52631578947367, 95.53072625698326%, 35.09803921568627%, 0) 100%),
  radial-gradient(at 59.04347703613493% 17.25069386654523%,
    hsla(350.5263157894737, 95.53072625698326%, 35.09803921568627%, 1) 0%,
    hsla(350.5263157894737, 95.53072625698326%, 35.09803921568627%, 0) 100%),
  radial-gradient(at 64.4317566718243% 76.79973196368573%,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 100%, 0) 100%),
  radial-gradient(at 37.82057031453534% 18.72245351341586%,
    hsla(170.52631578947367, 95.53072625698326%, 35.09803921568627%, 1) 0%,
    hsla(170.52631578947367, 95.53072625698326%, 35.09803921568627%, 0) 100%),
  radial-gradient(at 31.581580011202327% 90.52565172998663%,
    hsla(350.5263157894737, 95.53072625698326%, 35.09803921568627%, 1) 0%,
    hsla(350.5263157894737, 95.53072625698326%, 35.09803921568627%, 0) 100%),
  radial-gradient(at 53.079216248920005% 76.04197613947451%,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 100%, 0) 100%),
  radial-gradient(at 56.009988081369386% 22.689513132788107%,
    hsla(170.52631578947367, 95.53072625698326%, 35.09803921568627%, 1) 0%,
    hsla(170.52631578947367, 95.53072625698326%, 35.09803921568627%, 0) 100%),
  radial-gradient(at 4.784167615365287% 61.71816998912962%,
    hsla(350.5263157894737, 95.53072625698326%, 35.09803921568627%, 1) 0%,
    hsla(350.5263157894737, 95.53072625698326%, 35.09803921568627%, 0) 100%),
  radial-gradient(at 79.58253557629922% 92.45409078320708%,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 100%, 0) 100%);
  --background-image-mesh-26: radial-gradient(at 77.85473604835526% 22.51887018860699%,
    hsla(280.89385474860336, 76.17021276595743%, 46.07843137254902%, 1) 0%,
    hsla(280.89385474860336, 76.17021276595743%, 46.07843137254902%, 0) 100%),
  radial-gradient(at 4.947017705647094% 55.905278817601015%,
    hsla(191.06145251396646, 76.17021276595743%, 46.07843137254902%, 1) 0%,
    hsla(191.06145251396646, 76.17021276595743%, 46.07843137254902%, 0) 100%),
  radial-gradient(at 2.2255294569065276% 98.90119594875388%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 93.25021352901301% 30.416574869519565%,
    hsla(280.89385474860336, 76.17021276595743%, 46.07843137254902%, 1) 0%,
    hsla(280.89385474860336, 76.17021276595743%, 46.07843137254902%, 0) 100%);
  --background-image-mesh-27: radial-gradient(at 35.58785595124127% 36.84204930685044%,
    hsla(164.64, 69.83240223463687%, 35.09803921568627%, 1) 0%,
    hsla(164.64, 69.83240223463687%, 35.09803921568627%, 0) 100%),
  radial-gradient(at 66.57578293300021% 89.00790232815375%,
    hsla(191.06145251396646, 76.17021276595743%, 46.07843137254902%, 1) 0%,
    hsla(191.06145251396646, 76.17021276595743%, 46.07843137254902%, 0) 100%),
  radial-gradient(at 24.856880457861543% 60.90793394975833%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 44.12552245011299% 14.478445873460188%,
    hsla(196.15384615384613, 86.66666666666667%, 5.88235294117647%, 1) 0%,
    hsla(196.15384615384613, 86.66666666666667%, 5.88235294117647%, 0) 100%),
  radial-gradient(at 23.58647591128613% 34.33396019937087%,
    hsla(164.64, 69.83240223463687%, 35.09803921568627%, 1) 0%,
    hsla(164.64, 69.83240223463687%, 35.09803921568627%, 0) 100%),
  radial-gradient(at 19.7543239206305% 62.45396568142731%,
    hsla(191.06145251396646, 76.17021276595743%, 46.07843137254902%, 1) 0%,
    hsla(191.06145251396646, 76.17021276595743%, 46.07843137254902%, 0) 100%),
  radial-gradient(at 11.05438664692917% 17.296869332677556%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 41.46244919182864% 43.56718147054692%,
    hsla(196.15384615384613, 86.66666666666667%, 5.88235294117647%, 1) 0%,
    hsla(196.15384615384613, 86.66666666666667%, 5.88235294117647%, 0) 100%),
  radial-gradient(at 77.62654520915378% 98.55760180969241%,
    hsla(164.64, 69.83240223463687%, 35.09803921568627%, 1) 0%,
    hsla(164.64, 69.83240223463687%, 35.09803921568627%, 0) 100%),
  radial-gradient(at 22.628876768851946% 97.26254348306229%,
    hsla(191.06145251396646, 76.17021276595743%, 46.07843137254902%, 1) 0%,
    hsla(191.06145251396646, 76.17021276595743%, 46.07843137254902%, 0) 100%),
  radial-gradient(at 49.402024015243164% 41.653590851389666%,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%),
  radial-gradient(at 44.95944207136085% 44.45503905885164%,
    hsla(196.15384615384613, 86.66666666666667%, 5.88235294117647%, 1) 0%,
    hsla(196.15384615384613, 86.66666666666667%, 5.88235294117647%, 0) 100%);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  .content-grid {
    --padding-inline: 1rem;
    --content-max-width: 900px;
    --breakout-max-width: 1200px;

    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    place-content: flex-start;
    grid-template-columns:
      [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2),
        var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
  }

  .content-grid> :not(.breakout, .full-width),
  .full-width> :not(.breakout, .full-width) {
    grid-column: content;
  }

  .content-grid>.breakout {
    grid-column: breakout;
  }

  .content-grid>.full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
  }
}



html {
  @apply h-full bg-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    @apply bg-black;
  }
}

body {
  @apply h-full antialiased;
}