receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
  memory_limiter:
    check_interval: 1s
    limit_mib: 1000
    spike_limit_mib: 200

exporters:
  otlphttp/local:
    endpoint: http://localhost:5174
    traces_endpoint: http://localhost:5174/ingest/traces
    logs_endpoint: http://localhost:5174/ingest/logs
    metrics_endpoint: http://localhost:5174/ingest/metrics
    tls:
      insecure: true
    encoding: json

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [otlphttp/local]
    logs:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [otlphttp/local]
    metrics:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [otlphttp/local]
