@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Double the height for small, as the rows gets stacked. */
  --base-controls-h: 6rem; /* was 2.5rem */
  --base-controls-h-sm: 3rem; /* was 5em */
}

@layer base {
  body {
    @apply bg-zinc-200 dark:bg-black;
  }
}

html {
  /* Adds smooth scrolling instead of snapping to element. */
  scroll-behavior: smooth;

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}
