@font-face {
  font-family: 'Syne';
  src: url('/fonts/syne.regular-webfont.woff2') format('woff2'),
    url('/fonts/syne.regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('/fonts/syne.bold-webfont.woff2') format('woff2'),
    url('/fonts/syne.bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
